# Environment example file
# Copiar para .env.local e preencher com seus valores

# Backend
BACKEND_PORT=3001
BACKEND_HOST=localhost
DATABASE_URL=mongodb://localhost:27017/mindease

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# Mobile
EXPO_PUBLIC_API_URL=http://localhost:3001/api
